

<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::head}">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:replace="~{fragments::navbar}"></div>
<main class="container min-vh-100">
  <div th:replace="~{fragments::flash}"></div>
  <h1>Formulaire d'ajout d'épisode</h1>
  <form th:action="@{/episode}" method="post" th:object="${episodeDto}" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="num" class="form-label">Numéro de l'épisode</label>
      <input type="number" class="form-control" id="num" name="num" required th:field="*{num}" />
    </div>
    <div class="mb-3">
      <label for="titre" class="form-label">Titre de l'épisode</label>
      <input type="text" class="form-control" id="titre" name="titre" required th:field="*{titre}" />
    </div>
    <div class="mb-3">
      <label for="realisateur" class="form-label">Réalisateur</label>
      <input type="text" class="form-control" id="realisateur" name="realisateur" required th:field="*{realisateur}" />
    </div>
    <div class="mb-3">
      <label for="duree" class="form-label">Durée (en minutes)</label>
      <input type="number" class="form-control" id="duree" name="duree" required th:field="*{duree}" />
    </div>
    <div class="mb-3">
      <label for="fichierImage" class="form-label">Sélectionnez une image</label>
      <input type="file" class="form-control" id="fichierImage" name="fichierImage" required th:field="*{fichierImage}" />
    </div>
    <div class="mb-3">
      <label for="saison" class="form-label">Saison</label>
      <select class="form-select" id="saison" name="saison" required th:field="*{saison.id}">
        <option th:each="saison : ${saisons}" th:value="${saison.id}" th:text="'Saison '+${saison.num}"></option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Envoyer</button>
  </form>
</main>
<div th:replace="~{fragments::foot}"></div>
</body>
</html>