<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::head}">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:replace="~{fragments::navbar}"></div>
<main class="container min-vh-100">
  <div th:replace="~{fragments::flash}"></div>
  <h1>Liste des épisodes</h1>
  <div class="row">
    <!-- Boucle à travers la liste des épisodes -->
    <div th:each="episode : ${episodes.content}" class="col-md-4 mb-4">
      <div class="card">
        <!-- Affiche l'image de l'épisode ou une image par défaut -->
        <img th:if="${episode.cheminImage != null}" th:src="@{'/img/episode/' + ${episode.cheminImage}}" class="card-img-top" alt="Image de l'épisode">
        <img th:unless="${episode.cheminImage != null}" src="/img/default.jpg" class="card-img-top" alt="Image par défaut">

        <div class="card-body">
          <h5 class="card-title" th:text="${episode.titre}"></h5>
          <p class="card-text" th:text="${episode.realisateur}"></p>
          <p class="card-text" th:text="${'Durée : ' + episode.duree + ' minutes'}"></p>
        </div>
      </div>
    </div>
  </div>
</main>
<div th:replace="~{fragments::foot}"></div>
</body>
</html>